# SYSTEM
SERVER_PORT=8080
REDIS_PORT=6379

DB_PORT=3306
DB_SCHEMA=ornably_db
DB_OPTIONS=serverTimezone=Asia/Seoul
DB_USERNAME=kevin
DB_PASSWORD=kevin1234

RESOURCE_PATH=



# SMS
SOLAPI_FROM_NUMBER=
BREVO_SENDER_EMAIL=


# API
PORTONE_V2_API_SECRET=

BREVO_API_KEY=

SOLAPI_API_KEY=
SOLAPI_API_SECRET=

# OAuth2
OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=

OAUTH2_KAKAO_CLIENT_ID=

OAUTH2_NAVER_CLIENT_ID=
OAUTH2_NAVER_CLIENT_SECRET=